.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid gray;
  grid-gap: 3px;
  padding: 5px;
}
.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  border: 1px solid gray;
}
.container div:hover {
  cursor: pointer;
}
.container div.text-field {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: end;
  padding: 0 20px;
}
.container div.result {
  grid-column-start: 3;
  grid-column-end: 5;
}
